@import "./select";

/* topdoc
  name: Combobox
  description: A combobox
  markup:
    <div class="topcoat-combobox__container">
      <input type="text" class="topcoat-combobox__select" placeholder="Type Here"/>
      <div class="topcoat-combobox__suggestions-container">
        <ul class="topcoat-list__container">
          <li class="topcoat-list__item">Preact</li>
          <li class="topcoat-list__item">React</li>
        </ul>
      </div>
    </div>
  examples:
    mobile button: http://codepen.io/Topcoat/pen/DpKtf
  tags:
    - desktop
    - light
    - mobile
    - button
*/
.combobox__select {
  border: 1px solid #eaeaea;
  border-radius: 5.5px;
  font-size: .777777778rem;
  font-weight: normal;
  height: 44px;
  box-sizing: border-box;
  padding: 0 44px 0 .666666667rem;
  line-height: .777777778rem;
  color: var(--color);
  z-index: 2;
  position: relative;
}
.combobox__container {
  display: inline-block;
  position: relative;
}
.combobox__container:after {
  content: '';
  width: 44px;
  height: 44px;
  border: 1px solid #eaeaea;
  border-radius: 0 5.5px 5.5px 0;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  box-sizing: border-box;
  background: url(../img/dropdown.svg) no-repeat center;
  background-size: 10px 6px;
}
.combobox__select::placeholder {
  font-style: italic;
  font-weight: 200;
}
.combobox__suggestions-container {
  position: absolute;
  background: var(--background-color);
  box-sizing: border-box;
  width: calc(100% - 43px);
  border: 1px solid #eaeaea;
  border-radius: 0 0 5.5px 5.5px;
  top: 39px;
}
.combobox__suggestions-container ul {
  margin: 0;
  list-style: none;
  padding: 4px 0 0 0;
}
.combobox__suggestions-container li {
  font-size: .777777778rem;
  font-weight: normal;
  box-sizing: border-box;
  padding: .444444444rem .666666667rem;
  line-height: .777777778rem;
  color: var(--color);
  cursor: pointer;
}
.combobox__suggestions-container li:hover {
  background: hsl(0, 0%, 96%);
}
