@import "topcoat-tab-bar";

.tab-bar__button {
  background: transparent;
  box-shadow: none;
  padding: .625rem 0;
  margin: 0 2rem;
  border-bottom: 2px solid transparent;
}

.tab-bar__button:active,
:checked + .tab-bar__button,
:active + .tab-bar__button {
  border-bottom: 2px solid;
  box-shadow: none;
}

.tab-bar__button:focus,
:focus + .tab-bar__button {
  box-shadow: none;
}
